
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">What is your dream and what is stopping you?</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Dream Makers Community is where you can enter your dream and what is stopping you so that other dreamers can help you dream archieve your dream.</p>
    <p class="lead mb-4">And if a dreamer already made his dream true, we encourage them to say:</p>
    <p class="lead mb-4">I already fulfilled my dream but I can help you fulfill yours. What is your dream and what is stopping you?</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <%= link_to "Your dream", new_dream_path, class: "btn btn-primary btn-lg px-4 gap-3" %>
      <%= link_to "Explore dreams", dreams_path, class: "btn btn-outline-secondary btn-lg px-4" %>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>

<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">Recent dreams</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <% @dreams.first(3).each do |dream| %>
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: url('img1.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><%= dream.description%></h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <a href="<%= "mailto:#{dream.email}?subject=I want to help fulfill your dream" %>">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#bi-chat-heart"/></svg>
                  <small>Report</small>
                </a>
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Share</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>Like</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>Like</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="b-example-divider"></div>

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Your dream</h1>
      <p class="col-lg-10 fs-4">Tell us your dream and what is stopping you. Remember to first express your dream first, and then the main blocker of why you are not archiving it. For example: I want to take a cruise but who is going to take care of my dogs.</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <%= link_to "Your dream", new_dream_path, class: "btn btn-primary btn-lg px-4 gap-3" %>
      <%= link_to "Explore dreams", dreams_path, class: "btn btn-outline-secondary btn-lg px-4" %>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>

<div class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">Inspiration</h1>
      <p class="lead">This amazing TED talk by Barbara Sher is not only fun but the main inspiration for the Dream Makers Community.</p>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
      <iframe width="430" height="230" src="https://www.youtube.com/embed/H2rG4Dg6xyI?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
